footer{
	font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.section{
	background-color: #ab9a7f;
}
.site-footer{
	background-color: #A18D68;
}
.btn:hover{
	background-color: lightgreen;
}
.footer_title{
	color: red;
}
.site-footer h2{
	font-family: "Roboto Slab", serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
 	font-style: normal;
	color: black;
}
.heading{
	font-family: "Roboto Slab", serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
 	font-style: normal;
	color: white;
}
.site-footer a{
	color: white;
	text-decoration: none;
}
.site-footer p{
	color: white;
}
.site-footer span{
	color: brown;
}